#fullpage {
  height: var(--custom-height, 100vh);
}

.fp-overflow {
  height: 100%;
}

.section {
  height: 100%;
  padding-top: 12vh;

  @media (max-width: 1200px) {
    padding-top: 100px;
  }
}

.section.section-home {
  padding-top: 0;

}

.section.footer {
  height: auto;
  padding-top: 0;
}

.fp-watermark {
  display: none !important;
}

.fullpage-2 {
  background-image: url("/images/home/home-section2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.opacity-cover {
  background-color: black;
  position: absolute;
  opacity: 0.55;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
}

.section.section5 {
  background-color: rgb(249, 249, 249);
}