#fullpage {
  height: var(--custom-height, 100vh);
}

.fp-overflow {
  height: 100%;
}

.section {
  height: 100%;
  padding-top: 12vh;

  @media (max-width: 1200px) {
    padding-top: 100px;
  }
}

.section.section-home {
  padding-top: 0;

}

.section.footer {
  height: auto;
  padding-top: 0;
}

.fp-watermark {
  display: none !important;
}

.section-home, 
.section-home .fp-overflow,
.section-home .fp-tableCell {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.section-home::-webkit-scrollbar,
.section-home .fp-overflow::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* 2. 만약 섹션 내부에서 넘치는 현상 자체를 물리적으로 막고 싶다면 */
.section-home {
  overflow: hidden !important;
}