

/* 기본 섹션: 88vh */
.section.normal {
  height: 100%;
  border: 1px solid aqua;
}

/* 마지막 섹션만 30% 크기 (≈ 26.4vh) */
.section.small {
  height: 30% !important;
  background-color: aqua;
}

.fp-watermark {
  display: none !important;
}