@keyframes scroll-dot {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: -7px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% { 
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}

.home-swiper {

  height: 88vh;

  @media (max-width: 1200px) {
    height: calc(100vh - 100px);
  }
}

.home-swiper-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 241, 219);
}


.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.scroll-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 30px; 
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  opacity: 0.2;
  /* animation: scroll 2s ease-in-out infinite; */
}

.scroll-info-text {
  padding-bottom: 5px;
  display: none;
}

.mouse-border {
  width: 20px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid black;
}

.mouse-dot {
  position: absolute;
  width: 6px;
  aspect-ratio: 1;
  border-radius: 3px;
  background-color: black;
  bottom: 40px;
  animation: scroll-dot 3s ease-in-out infinite;
}

.chevron-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  position: relative;
  animation: arrow 1.5s ease-in-out infinite;
}
