#map {
  border-top-right-radius: 70px;
}

@media (max-width: 600px) {

  #map {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {

  #map {
    width: 100%;
    height: 100%;
  }
}