#root {
  margin: 0;
  width: 100%;
  /* font-family: "Noto Sans KR", 'NanumSquare', serif; */
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.container {
  padding: 0 10vw;
}

@font-face {
  font-family: "TheSignature";
  src: url("/fonts/Thesignature.otf");
}

/* 
폰트 사이즈 반응형
clamp(16px, calc(0.01vw + 16px), 18px) --> 큰 화면
*/