#root {
  margin: 0;
  width: 100%;
  /* font-family: "Noto Sans KR", 'NanumSquare', serif; */
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.container {
  padding: 0 10vw;
}

@font-face {
  font-family: "TheSignature";
  src: url("/fonts/Thesignature.otf");
}
@font-face {
  font-family: "Galmuri9";
  src: url("/fonts/Galmuri9.woff2");
}

.doctor-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/home/home-slide1-temp2.webp");
  background-position: center center;
  background-size: cover;
  z-index: 0;
  will-change: transform;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
